<div>
        <h4><%= @event.location %></h4>
        <h5><%= @event.creator.username %> </h5>
        <div><%= @event.event_date %></div>
        <div>Created At: <%= @event.created_at %></div>
    </div>